@model QuanLyThuVien_N8.Models.NguoiDung

@{
    ViewBag.Title = "Chi Tiết Độc Giả";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}

<h3 class="page-header">QUẢN LÝ ĐỘC GIẢ</h3>

<div class="panel panel-primary">
    <div class="panel-heading">
        <center>CHI TIẾT ĐỘC GIẢ</center>
    </div>

    <div class="table">
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th style="width:200px">
                    <span>
                        @Html.ActionLink("Cập Nhật", "suadg", new { id = @Model.MaNguoiDung }, new { @class = "btn btn-outline btn-primary" })
                    </span>
                </th>
                <th>
                    Nội Dung
                </th>
            </tr>

            <tr>
                <th>
                    Mã Người Dùng
                </th>
                <td>
                    @Html.DisplayFor(model => model.MaNguoiDung)
                </td>
            </tr>

            <tr>
                <th>
                    Họ và Tên
                </th>
                <td>
                   <p> @Html.DisplayFor(model => model.HoTen)</p>
                    <img style="width:118px; height:118px" src="@Model.AnhDaiDien" />
                </td>
            </tr>

            <tr>
                <th>
                    CMND
                </th>
                <td>
                    @Html.DisplayFor(model => model.SoCMND)
                </td>
            </tr>

            <tr>
                <th>
                    Ngày Sinh
                </th>
                <td>
                    @Html.DisplayFor(model => model.NgaySinh)
                </td>
            </tr>

            <tr>
                <th>
                    MSSV/MSCB
                </th>
                <td>
                    @Html.DisplayFor(model => model.MSSV)
                </td>
            </tr>

              <tr>
                <th>
                    Email
                </th>
                <td>
                    @Html.DisplayFor(model => model.Email)
                </td>
            </tr>

            <tr>
                <th>
                    Ngày Hết Hạn
                </th>
                <td>
                    @Html.DisplayFor(model => model.NgayHetHan)
                </td>
            </tr>

            <tr>
                <th>
                    Loại Người Dùng
                </th>
                <td>
                    @Html.DisplayFor(model => model.LoaiND)
                </td>
            </tr>

            <tr>
                <th>
                    Tên Đăng Nhập
                </th>
                <td>
                    @Html.DisplayFor(model => model.TenDangNhap)
                </td>
            </tr>

        

            @*<tr>
                <th>
                    Ảnh Đại Diện
                </th>
                <td>
                    <img style="width:118px; height:118px" src="@Model.AnhDaiDien" />
                </td>
            </tr>*@
        </table>
    </div>

    
    @*<p>
            <input type="button" class="btn-outline btn-primary" value="Về Trang Tìm Kiếm" onclick="location.href='@Url.Action("QLDGia", "ThuThu")    '" />
        </p>*@
</div>