@model PagedList.IPagedList<QuanLyThuVien_N8.Models.NhaXuatBan>
@using PagedList.Mvc;

@{
    ViewBag.Title = "QuanLyTacGia";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <center>XEM TOÀN BỘ NHÀ XUẤT BẢN</center>
    </div>
<br />

<div id="quanlysach">
    <div class="panel-body">
    @foreach (var item in Model)
         {
        <div class="feat_prod_box">
                <div class="prod_det_box">
                	<div class="box_top"></div>
                    <div class="box_center">
                    <div class="prod_title">@item.TenNhaXuatBan</div>
                    <p class="details"><strong>Địa chỉ</strong>: @Html.DisplayFor(modelItem => item.DiaChi)</p>
                    <p class="details"><strong>Email</strong>: @Html.DisplayFor(modelItem => item.Email)</p>
                    <p class="details"><strong>Số tài khoản</strong>: @Html.DisplayFor(modelItem => item.SoTaiKhoan)</p>
                    <p class="details"><strong>Số điện thoại</strong>: @Html.DisplayFor(modelItem => item.SoDienThoai)</p>
                    <p class="details"><strong>Website</strong>: @Html.DisplayFor(modelItem => item.Website)</p>
                    <input type="button" class="btn btn-outline btn-primary" value="Cập Nhật" onclick= "location.href='@Url.Action("CapNhatNXB", "ThuThu", new { id = item.MaNhaXuatBan})'" />
                    <input type="button" class="btn btn-outline btn-primary" value="Xoá" id="Xoa" onclick= "location.href='@Url.Action("XoaNXB", "ThuThu", new { id = item.MaNhaXuatBan })'" />
                    <div class="clear"></div>
                    </div>
                    <div class="box_bottom"></div>
                </div>    
            <div class="clear"></div>
            </div>
    }
    <div class ="Paging">
        @Html.PagedListPager(Model, page => Url.Action("XemToanBoNXB", new { page }));
    </div>

    </div>
</div>
</div>